* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: rgb(90, 42, 42, 0.5);
}

#results_div {
  /* padding: 10px;
  width: 60%;
  margin: 0 auto; */
}

p {
  /* font-size: 30px; */
}

#text {
  /* font-size: 80px; */
  /* width: 80%;
  margin: 0 auto;
  margin-top: 100px; */
}

.cursor {
  animation-name: example;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  /* animation-delay: 2s; */
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
}

@keyframes example {
  0% {
    background-color: white;
    color: black;
  }
  49% {
    background-color: white;
    color: black;
  }
  50% {
    background-color: black;
    color: white;
  }
  99% {
    background-color: black;
    color: white;
  }
}

.correct {
  color: gray;
}

.correct_space {
  border-bottom: solid;
  border-color: gray;
}

.incorrect {
  color: red;
}

.incorrect_space {
  border-bottom: solid;
  border-color: red;
}
